.card{
  background: rgba( 178, 187, 8, 0.6 );
  box-shadow: 0 5px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 6.5px );
  -webkit-backdrop-filter: blur( 6.5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}
.mat-button-toggle {
  background-color: rgba(255, 255, 255, 0);
  color: #000000;
  border-radius: 20px;
  border-color: rgba(255, 255, 255, 0);
}
.mat-button-toggle-checked {
  background-color: rgba( 178, 187, 8, 0.6 );
  color: #fff;
  border-radius: 20px;
  border-color: rgba(255, 255, 255, 0);
}
.mat-button-toggle-standalone.mat-button-toggle-appearance-standard, .mat-button-toggle-group-appearance-standard {
  border: solid 0px rgba(0, 0, 0, 0.12);
}
